/* GLOBAL STYLES */

@font-face {
    font-family: bit;
    src: url(./assets/Minecraft.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #eee0e0;
    font-family: bit;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    /* background: radial-gradient(ellipse at top, rgba(18, 18, 18, 0.989), rgb(18, 18, 18), rgb(0, 0, 0)); */
    background: radial-gradient(ellipse at top, rgba(72, 40, 5, 0.989), rgba(17, 10, 4, 0.989), rgb(0, 0, 0));
    background-attachment: fixed;
    display: flex;
    justify-content: center;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 0vh;

}

section {
    height: 100vh;
    width: 100%;
}

/* BACKGROUND */
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("./assets/background4.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center center, right bottom;
    background-size: cover;


    z-index: -9999;
}

/* NAV STYLES */
nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99999;
    top: 0;
}

.home-link {
    height: min-content;
    list-style: none;
    padding-left: 1rem;
    list-style: none;
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

nav ul {
    height: min-content;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    font-size: 0.6rem;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.471), rgba(0, 0, 0, 0));
    backdrop-filter: blur(10px);
    border-bottom: solid 3px rgba(255, 255, 255, 0.146);
}

#intro {
    width: 50rem;
    margin: 2rem;
    padding: 2rem;
    background: #00000068;
    backdrop-filter: blur(10px);
}

#intro a {
    color: rgba(242, 109, 0, 1);
    text-decoration: none;
}

#l1 {
    font-size: 1.5rem;
}

#l2 {
    font-size: 2.2rem;
}

#l3 {
    padding-top: 1rem;
    font-size: 1.5rem;
}

#l4 {
    padding-top: 0.4rem;
    font-size: 1.2rem;
}

/* ABOUT STYLING */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-bento {
    width: 70rem;
    height: 80vh;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 4rem 6rem 1fr 1fr 1fr;
    gap: 1rem;
}

#about-title {
    grid-column: 1;
    grid-row: 1/2;
    width: fit-content;
    height: 5rem;
}

#about-title h1 {
    font-size: 4rem;
}

#about-img-caro {
    grid-column: 1;
    grid-row: 2/5;
    background: url(./assets/IMG_2519.JPG);
    background-size: cover;
    background-position: center;
}

#basics {
    padding: 1rem;
    grid-column: 2;
    grid-row: 2;
    background: #00000068;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#basics h1 {
    font-size: 2rem;
}

#basics p {
    font-size: 1rem;
    color: rgba(242, 109, 0, 1);
}

#about-info {
    padding: 1rem;
    grid-column: 2;
    grid-row: 3/4;
    background: #00000068;
    backdrop-filter: blur(10px);
}

#about-list {
    padding: 2rem;
    grid-column: 1;
    grid-row: 5/6;
    background: #00000068;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#about-list ul{
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    list-style: '❤️';
}
#about-list ul li{
padding-left: 5px;
}


/* TECH STYLING */
#tech {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* EXPERIENCE STYLING */
#experience {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROJECTS STYLING */
#projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTACT STYLING */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FOOTER STYLING */
#footer {
    position: relative;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#00000068, #000000);
    backdrop-filter: blur(10px);
    border-top: solid 1px rgba(242, 109, 0, 1);
}