/* font */
@font-face {
    font-family: bit;
    src: url(./assets/Minecraft.ttf);
}

/* Global */
* {
    margin: 0;
    padding: 0;
    color: #bbb9b9;
    font-family: bit;
    letter-spacing: 2px;
}


body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at top, rgba(18, 18, 18, 0.989), rgb(18, 18, 18), rgb(0, 0, 0));
    background-attachment: fixed;
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-image: url("./assets/background3.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center center, right bottom;
    background-size: cover;
    z-index: -1;
    opacity: 1;
}

/* NAV STYLES */
nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    background: #00000068;
    backdrop-filter: blur(10px);
}

.home-link {
    height: min-content;
    list-style: none;
    padding-left: 1rem;
    list-style: none;
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

nav ul {
    height: min-content;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    font-size: 0.6rem;
}


/* FOOTER STYLING */

#footer{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: #00000068;
    backdrop-filter: blur(10px);
}

/* LANDING STYLING */
.landing-pg {
    /* size */
    width: 56%;
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    background: rgba(0, 0, 0, 0.669);
    backdrop-filter: blur(10px);
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#profile-picture{
    height: 23rem;
    width: 23rem;
    background: url(./assets/IMG_2519.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-right:2rem ;

}

#text-container{
    padding: auto;
    width: 23rem;
}

#hello{
    font-size: 2rem;
}
#name{
    font-size: 3rem;
    display: flex;
}

#info{
    margin-top: 0.5rem;
}

#hero-links{
    display: flex ;
    flex-wrap: wrap;
}

.hero-link{
    width: 100%;
    text-decoration: none;
    padding-right: 1rem;
    margin-top: 1rem;
    color: #f3860a;
}

#projects-pg{
    height: 70%;
    width: 40%;
    background: #00000068;
    backdrop-filter: blur(10px);
}


